<!DOCTYPE html>
<html>
<head>
    <title>ASP.NET Core Project</title>
</head>
<body>
    <partial name="_Header" />
    <main>
        @RenderBody()
    </main>
    <partial name="_Footer" />
</body>
</html>
